ion-content.create-sheet {
	ion-title {
		font-size: xx-large;
		text-align: center;
		margin: 3rem;
	}

	ion-card {
		margin: 1rem;
		ion-card-content {
			text-align: center;
			display: flex !important;
			flex-direction: column !important;
			align-items: center !important;
			justify-content: center !important;
			margin: 0.5rem;

			ion-button {
				width: 18em;
				p {
					margin-left: auto;
				}
			}
		}
	}
}

@media screen and(min-width: 600px) {
	ion-content.create-sheet {
		ion-card {
			margin-right: 20%;
			margin-left: 20%;
		}
	}
}
