div.not-found {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	align-content: center;
	justify-content: center;

	ion-title {
		font-size: 30vw;
	}

	ion-text {
		font-size: 10vw;
	}
}
